<html>
<head>
	<title>Angular Module Demo</title>
	<script src="./lib/angular/angular.min.js"></script>
	<script>
		var app1 = angular.module('myApp1', []);
		app1.run(function($rootScope){
			$rootScope.fn = "Puneet";
			$rootScope.ln = "Vashisht";
			
			$rootScope.changeFirstName = function(newFN){
				console.log(newFN);
				$rootScope.fn = newFN;
			}
		})
		var app2 = angular.module('myApp2', []);
		app2.run(function($rootScope){
			$rootScope.name = "Apoorva";
		});
	</script>
</head>
<body>
	<hr/>
	<div ng-app="myApp1">
		<input type="text" ng-model="fn">
		<h1>FirstName: {{fn}}</h1>
		<h1>LastName: {{ln}}</h1>
		<input type="text" ng-model="newFirstName">
		<button ng-click="changeFirstName(newFirstName)">Change First Name</button>
	</div>
		<hr/>
	<div ng-app="myApp2">
		<h1>FirstName: {{name}}</h1>
	</div>
</body>
</html>