<html>
<head>
	<title>Angular Module Demo</title>
	<script src="./lib/angular/angular.min.js"></script>
	<script>
		var app = angular.module('myApp', []);
		
		// one rootScope per module
		// one scope per controller
		app.controller('myCtrl1', function($rootScope, $scope){
			$rootScope.fn = "Puneet";
			$scope.name = "Vashisht";
			
			$rootScope.changeFirstName = function(newFN){
				console.log(newFN);
				$rootScope.fn = newFN;
				console.log($rootScope.fn);
			}
		})
		
		app.controller('myCtrl2', function($rootScope, $scope){
			$rootScope.fn = "Hans";
			$scope.name = "Apoorva";
		})
		
		
	</script>
</head>
<body ng-app="myApp">
	<div ng-controller="myCtrl1">
<!--	<div>-->
		<input type="text" ng-model="fn">
		<h1>FirstName: {{fn}}</h1>
		<h1>LastName: {{name}}</h1>
		<input type="text" ng-model="newFirstName">
		<button ng-click="changeFirstName(newFirstName)">Change First Name</button>
	</div>
		<hr/>
	<div ng-controller="myCtrl2">
		<h1>FirstName: {{fn}}</h1>
		<h1>Name: {{name}}</h1>
	</div>
</body>
</html>