<html>
<head>
	<title>Angular Service Demo</title>
	<script src="./lib/angular/angular.min.js"></script>
	<style>
		div{
			border: 2px solid black;
			margin: 25px;
			padding: 50px;
		}
	</style>
	<script>
		var app = angular.module('myApp', []);
		
		app.service('UserService', function(){
			return {
				"username": "",
				"email": "",
				"password": "",
				"gender": ""
			}
		})
		app.controller('login', function($scope, UserService){
			$scope.fillUser = function(){
				
				UserService.username = $scope.userid;
				UserService.email = $scope.email;
				console.log(UserService);
			}
		})
		
		app.controller('myAccount', function($scope, UserService){
			$scope.user = UserService;
			
			$scope.check = function(){
				console.log(UserService)
			}
		})
	</script>
</head>
<body ng-app="myApp">
	<div ng-controller="login">
		<input type="text" ng-model="userid"><br/>
		<input type="text" ng-model="email"><br/>
		<button ng-click="fillUser()">Login</button><br/>
		{{userid}}
		{{email}}
	</div>
	<div ng-controller="myAccount">
		{{user.username}}
		{{user.email}}
		
		<button ng-click="check()">Check</button><br/>
	</div>
</body>
</html>