<html>
<head>
	<title>Grid Demo</title>
	<script src="lib/angular/angular.min.js"></script>
	<script>
		var app = angular.module('myApp', []);
		
		app.controller('empCtrl', function($scope){
			$scope.emps= [
					{"name": "Puneet", "empId": "Niit2015", "salary": "500000"},
					{"name": "Jai", "empId": "Lg2042", "salary": "900000"},
					{"name": "Suraj", "empId": "Niit2015", "salary": "400000"},
					{"name": "Pawan", "empId": "Wip6215", "salary": "600000"},
					{"name": "Amit", "empId": "Niit5214", "salary": "200000"}
				]
		})
	</script>
</head>
<body ng-app="myApp">
	<div ng-controller="empCtrl">
		<input type="text" ng-model="search.name" placeholder="Search name">
		<input type="text" ng-model="search.empId" placeholder="Search empid">
		<input type="text" ng-model="search.$" placeholder="Search anything">
		<table border="1" width="80%">
			<thead>
				<tr>
					<th>Name</th>
					<th>EmpId</th>
					<th>Salary</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="emp in emps | filter:search">
					<td>{{emp.name}}</td>
					<td>{{emp.empId}}</td>
					<td>{{emp.salary}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>