<html>
<head>
	<title>Angular Module Demo</title>
	<script src="./lib/angular/angular.min.js"></script>
	<script>
		var app1 = angular.module('myApp1', []);
		app1.run(function($rootScope){
		})
		var app2 = angular.module('myApp2', []);
		app2.run(function($rootScope){
		});
	</script>
</head>
<body>
	 <div ng-app="shoppingCart" ng-controller="ShoppingCartController">
	  <h1>Your order</h1>
	  <div ng-repeat="item in items">
		<span>{{item.product_name}}</span>
		<span>{{item.price | currency}}</span>
		<button ng-click="remove($index);">Remove</button>
	  </div>
	</div>

	<div ng-app="namesList" ng-controller="NamesController">
	  <h1>List of Names</h1>
	  <div ng-repeat="_name in names">
		<p>{{_name.username}}</p>
	  </div>
	</div>
</body>
</html>
 

 
 
