<html>
<head>
	<title>Built-in Directives</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	<style>
		body{
			margin: 0 50px;
		}
	</style>
	<script src="./../lib/angular/angular.min.js"></script>
	<script>
		angular.module('myApp', [])
		.run(function($rootScope, $timeout){
			$rootScope.isDisabled = true;
			$timeout(function(){
				$rootScope.isDisabled = false;
			}, 5000);
		});
	</script>
	
</head>
<body ng-app="myApp">
	<h1>ng-disabled</h1>
	<input type="text" ng-model="someProperty">
	<button class="btn btn-primary" ng-disabled="!someProperty">ClickMe</button>
	<br/>
	<textarea ng-disabled="isDisabled" id="" cols="30" rows="10"></textarea>
	<hr/>
	<h1>ReadOnly</h1>
	<input type="text" ng-model="someProperty" ng-readonly="true">
	<hr/>
	<h1>ng-checked</h1>
	<input type="checkbox" ng-checked="checkboxProperty" ng-model="checkboxProperty"/><br/>
	{{checkboxProperty}}<br/>
	<h1>ng-selected</h1>
	Change your gender: 
	<select ng-disabled="true">
		<option ng-selected="!checkboxProperty">Male</option>
		<option ng-selected="checkboxProperty">Female</option>
	</select>
	<hr/>
	<h1>show/hide</h1>
	<p ng-show="checkboxProperty">True condition</p>
	<p ng-hide="checkboxProperty">False condition</p>
	<hr/>
	<h1>ng-if</h1>
	<p ng-if="!checkboxProperty">You are Male</p>
	<p ng-if="checkboxProperty">You are Female</p>
		<br/><br/><br/><br/><br/><br/><br/><br/>

</body>
</html>