<html>
<head>
	<title>Ajax Demo</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	<style>
		body{
			margin: 0 50px;
		}
	</style>
	
<!--	<script src="./../lib/angular/angular.min.js"></script>-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
	<script>
		var app = angular.module('myApp', [])
		app.service('UserService', function(){
			return {
				'name': '',
				password: '',
				age: 0,
				email: '', 
				address: ''
			}
		})
		app.controller('ctrl',function($scope, UserService, $http){
			$scope.user = UserService;
			$scope.loadData = function(){
				console.log("send req");
				$http({
					method: 'get',
					url: './dummyServer/dummyUser.json'
				})
				.success(function(data){
					console.log(data);
					if(data){
						for(var key in data){
							console.log(key+" : "+data[key]);
							$scope.user[key]= data[key];
						}
					}
//					$scope.user['name'] = data.name;
//					console.log(UserService);
				})
				.error(function(xhr, status, error){
					console.log(xhr)
					console.log(status)
					console.log(error())
				})
			}
		});
		app.controller('showDetails',function($scope, UserService){
			$scope.newUser = UserService;
			$scope.getData = function(){
				console.log($scope.newUser)
			}
		});
	</script>
	
</head>
<body ng-app="myApp">
	<div ng-controller="ctrl">
		<button ng-click="loadData()">GetUser</button>
	</div>
	<div ng-controller="showDetails">
		<button ng-click="getData()">ShowUser</button>
		{{newUser | json}}
	</div>
</body>
</html>