<html>
<head>
	<title>Ajax solution</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	<style>
		body{
			margin: 0 50px;
		}
		thead>tr>th{
			cursor: pointer;
		}
	</style>
	
<!--	<script src="./../lib/angular/angular.min.js"></script>-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
	<script>
		var app = angular.module('myApp', [])
		app.controller('ctrl',function($scope, $http){
			$scope.loadData = function(){
				$http({
					method: 'get',
					url: 'http://127.0.0.1:57919/Day2/dummyServer/emp.json'
				})
				.success(function(data){
					console.log(data);
					$scope.emps = data.emps;
				})
				.error(function(xhr, status, error){
					console.log(xhr)
					console.log(status)
					console.log(error)
				})
			}
			$scope.sortBy = function(sortByMe){
				$scope.sort = sortByMe;
			}
		});
	</script>
	
</head>
<body ng-app="myApp">
	<div ng-controller="ctrl">
		<button class="btn btn-default" ng-click="loadData()" ng-hide="emps">Load Data</button>
		<br/>
		<table class="table" ng-show="emps">
			<thead>
				<tr>
					<th ng-click="sortBy('')">S.No.</th>
					<th ng-click="sortBy('name')">EmpName</th>
					<th ng-click="sortBy('empId')">EmpId</th>
					<th ng-click="sortBy('salary')">EmpSalary</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="emp in emps | orderBy:sort">
					<td>{{$index+1}}</td>
					<td>{{emp.name}}</td>
					<td>{{emp.empId}}</td>
					<td>{{emp.salary}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>